<div class="bg-gray-800 pt-3">
  <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
      <h1 class="font-bold pl-2">Multiple Choice Questions</h1>
  </div>
</div>
<div class="w-full p-3">
  <div class="bg-white border rounded shadow">
    <div class="col-md-12 border-b p-3 m-8">
    </div>
    <div class="p-5 m-8">
      <table class="w-full p-5 text-gray-700">
        <thead>
          <tr>
            <th scope="col" class="text-left text-blue-900">Body</th>
            <th scope="col" class="text-left text-blue-900">Correct Body</th>
            <th scope="col" class="text-left text-blue-900">Incorrext Body</th>
            <th scope="col" class="text-left text-blue-900">Level</th>
            <th scope="col" class="text-left text-blue-900">Part</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @multiple_choice_questions %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to  %>
<% if @multiple_choice_questions.present? %>
  <%= render  @multiple_choice_questions %>
<% else %>
  <p> '問題はまだありません'</p>
<% end %>