
<p class="text text-black"><%= @user.name %>様</p>

<p class="text text-black">お世話になっております。</p>

<p class="text text-black">PhonicsTrainer事務局です。</p>

<p class="text text-black">パスワード再発行のご依頼を受け付けました。</p>

<p class="text text-black">以下のリンクからパスワードの再発行を行ってください。</p>

<p class="text text-black"><a href="<%= @url %>"><%= @url %></a></p>